html {
  scroll-behavior: smooth;
}
.customContainer {
  width: 65%;
  margin: 0 auto;
}
.col-md-6, .col-md-2, .col-md-8, .col-md-3 {
  padding-left: 0px !important;
}
.rubikMd {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}
.poppinsRg {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.poppinsMd {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.poppinsBld {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.fontSize14 {
  font-size: 14px !important;
}
.navbar-brand img {
  height: 70px;
  margin-left: -1.5rem;
}
.navbar {
  padding: 0 !important;
}
.blackaaaColor {
  color: #333333 !important;
}
.deepOrClr {
  color: #ff9154;
}
.nav-item a {
  border-top: 2px solid #F8F8F8;
  transition: .2s;
}
.navHover:hover, .cActive{
  border-top: 2px solid #ff9154 !important;
  color: #ff9154 !important;
}
.carousel-inner {
  overflow: visible  !important;
}
.carousel-control-prev {
  position: relative !important;
  width: 50%;
}
.carousel-control-next {
  position: relative !important;
  width: 50%;
}
.homeFull, .navSec {
  background: #F8F8F8;
}
.homeImg {
  width: 153.5%;
  height: auto;
}
.cButton {
  border-radius: 0% !important;
  background: #ff9154;
  color: #fff !important;
  font-size: 13px;
  background-image: linear-gradient(-90deg, rgb(252, 96, 96), rgb(255, 153, 97));
}
.cButton:hover {
  box-shadow: 0px 16px 20px -14px #ff9154;
}
.homeFull p {
  color: #999999;
  font-size: 14px;
  line-height: 1.75rem;
}
.homeTxt {
  padding: 9rem 0 13.5rem;
}
.socialIcon i {
  color: #AEAEAE;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}
.socialIcon i:hover {
  color: #fff;
  background: #ff9154;
  border-radius: 100%;
}
.arrowIcon i {
  color: #fff;
  background: #FAE0D2;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: .4s;
}
.arrowIcon i:hover {
  background: #ff9154;
}
.aboutSec {
  padding: 15rem 0 5rem;
  position: relative;
}
.aboutSec p, .fMenuTop p {
  color: #999999;
  font-size: 14px;
  line-height: 1.75rem;
}
.cPosition {
  position: absolute;
  right: 7rem;
  top: -9rem;
  width: 80%;
  cursor: pointer;
}
.modal-content {
  width: 100%;
  height: 50vh;
}
.modal-body iframe {
  width: 100%;
  height: 100%;
}
.abtTxtMar {
  margin-top: -4rem;
}
.fMenuTop .col {
  margin-left: -1rem;
}
.fMenuTop li {
  color: #999999;
  font-size: 15px;
  border-bottom: 2px solid rgb(223, 223, 223);
  cursor: pointer;
  transition: .3s;
}
.foodActive {
  color: #ff9154 !important;
  border-bottom: 2px solid #ff9154 !important;
}
.fMenuTop li:hover {
  border-bottom: 2px solid #ff9154;
}
.foodMenu .media {
  box-shadow: 1px 0px 45px -40px #000;
}
.mediaMarRight {
  margin-right: .75rem;
  margin-bottom: 1.5rem;
}
.mediaMarLeft {
  margin-left: .75rem;
  margin-bottom: 1.5rem;
}
.foodMenu img {
  width: 45%;
  height: auto;
}
.foodMenu .col-md-6 {
  padding: 0px !important;
}
.mdaRow1 {
  font-size: 19px;
}
.mdaRow2 {
  padding: 0.25rem 0 !important;
  color: #ff9154;
  font-size: 17px;
}
.mdaIcon {
  color: #999999;
  font-size: 15px;
}
.media-body {
  padding: 2rem 0 !important;
}
.media-body button {
  color: #ff9154;
  border: 1px solid #ff9154;
  border-radius: 0px !important;
  transition: .3s;
  margin-top: .75rem;
  padding: .4rem 1rem !important;
  font-size: 15px;
}
.media-body button:hover {
  color: #fff;
  background-image: linear-gradient(-90deg, rgb(252, 96, 96), rgb(255, 153, 97));
}
.media {
  transition: .2s;
}
.media:hover {
  box-shadow: 0px 0px 30px -21px #000;
}
.testimnTop p {
  color: #999999;
  font-size: 14px;
  line-height: 1.75rem;
}
.arrowIconTes {
  margin: 10rem 0;
}
.arrowIconTes i {
  color: #fff;
  background: #FAE0D2;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: .4s;
}
.arrowIconTes i:hover {
  background: #ff9154;
}
.testmlCenter .fa-quote-right {
  color: #ff9154;
  font-size: 3rem;
}
.testmlCenter .mid{
  box-shadow: 0px 0px 30px -23px #000;
  padding: 1.5rem;
  position: relative;
}
.testmlCenter .mid p {
  color: #999999;
  font-size: 17px;
  line-height: 1.75rem;
}
.testmlCenter .mid h5 {
  color: #333333;
  font-size: 17px;
}
.testmlCenter .mid .fa-star {
  color: #ff9154;
  font-size: 13px;
}
.testmlCenter .ablstImg {
  position: absolute;
  bottom: -15%;
  left: 5%;
  width: 16%;
}
#client {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.instaP {
  color: #999999;
  font-size: 14px;
  line-height: 1.75rem;
}
#instaPost {
  margin-bottom: 7rem;
}
.instaPst .row{
  overflow: hidden;
}
.imgFront {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100rem;
  background-image: linear-gradient(0deg, rgba(252, 96, 96, 0.68), rgba(255, 153, 97, 0.95));
  color: #fff;
  text-align: center;
  padding: 45px 0px;
  transition: .4s;
}
.instaPImg:hover .imgFront {
  top: 0;
}
.imgFront h5 {
  font-size: 16px;
}
.imgFront p {
  font-size: 12px;
  line-height: 1.75rem;
}
.footer {
  background: url('../images/bottom_bg.png') center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.footerTop {
  padding: 6rem 0 4rem;
}
.footerTop p, .footerBottom li, .footerBottom p, .copyRght {
  font-size: 13px;
  line-height: 1.75rem;
}
.footerBottom ul {
  list-style: none;
  padding-left: 0;
}
.footerBottom {
  padding-bottom: 4rem;
  border-bottom: 1px solid #ff9d9d;
}
.copyRght {
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 0;
  color: #ffc09e;
}
.fSize18 {
  font-size: 18px;
}
.form-control {
  border-radius: 0px !important;
  border: none;
  font-size: 12px;
  padding: 26px 18px;
  color: #999999;
}
.input-group .btn {
  background: #ff6929;
  color: #fff;
}


/* responsive for lg device */
@media screen and (max-width: 1199px) {
  .homeTxt {
    padding: 7rem 0 10.5rem;
  }
  .abtTxtMar {
    margin-top: -6rem;
  }
}

/* responsive for md device */
@media screen and (max-width: 991px) {
  .homeTxt {
    padding: 3rem 0 7.5rem;
  }
  .abtTxtMar {
    margin-top: -9rem;
  }
  .testmnLeft {
    padding: 3rem 0 0;
  }
  .testmlCenter .ablstImg {
    bottom: -9%;
    left: 3%
  }
  .imgFront {
    padding: 10px 3px;
  }
  .imgFront h5 {
    font-size: 15px;
    margin: 0;
  }
  .imgFront p {
    font-size: 11px;
    line-height: 1rem;
  }
  .imgFront div {
    font-size: 14px;
  }
}

/* responsive below md device */
@media screen and (max-width: 767px) {
  .customContainer {
    width: 85%;
  }
  .homeFull {
    text-align: center;
  }
  .homeTxt {
    padding: 2rem 0 1.5rem;
  }
  .socialIcon {
    margin-bottom: 2rem;
  }
  .homeTxt p {
    padding-bottom: .5rem !important;
  }
  .homeImg {
    width: 100%;
  }
  .homeFull .arrowIcon {
    float: left !important;
    padding-left: 38vw;
  }
  .aboutSec {
    padding: 8rem 0 8rem;
    text-align: center;
  }
  .aboutSec p {
    padding: 0 !important;
  }
  .abtTxtMar {
    margin-top: -1rem;
  }
  #menuScr, #client, #instaPost, #contact {
    text-align: center;
  }
  .cPosition {
    right: 0rem;
    top: -5rem;
  }
  .menuTime {
    margin-bottom: 1rem;
  }
  .testmnLeft {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .testmlCenter .ablstImg {
    bottom: -8%;
    left: 6%;
  }
  .testmlRight {
    text-align: center;
  }
  .arrowIconTes {
    margin: 1rem 0;
    padding-left: 8rem;
  }
  .imgFront {
    visibility: hidden;
  }
  .instaPImg {
    padding-bottom: 1rem;
    padding-right: 0;
  }
  .testmlCenter {
    padding-right: 0;
  }
  #instaPost {
    margin-bottom: 3rem;
  }
  .footerTop {
    padding: 4rem 0;
  }
  .footerBottom p, .footerBottom li {
    line-height: 22px;
  }
  .footerBottom {
    padding-bottom: 2rem;
  }
}